.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  padding: 1.2rem;
  flex-wrap: wrap;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-base);
  height: 100%;
  flex: 1;
  border-radius: 20px;
  position: relative;
}

.content .btn-add {
  position: absolute;
  bottom: 1.4rem;
  right: 1.4rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #844fc3;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 14px 40px -2px #844fc3;
  color: var(--white-base);
  cursor: pointer;
  transition: all 120ms ease;
}

.content .btn-add:hover {
  background-color: #784eac;
}

.content .btn-add:active {
  background-color: #784eac;
  scale: 0.9;
}

