:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --base-100: #3b3f54;
  --base-200: #252a41;
  --white-base: #ffffff;

  background-color: var(--base-200);
  color: var(--white-base);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
